/* Adicionar minimo*/

@media screen and (max-width: 2560px) {
    .card__botao-next{
        bottom: 24.5%;
        height: 3.4%;
        left: 72%;
    }
    .card__botao-prev{
        bottom: 24.5%;
        height: 3.4%;
        left: 68%;
    }
}

@media screen and (max-width: 1920px) {
    .button__click {
        bottom: 20.5%;
        left: 62.6%;
    }
    
}

@media screen and (max-width: 1440px) {
    .card__botao-next{
        bottom: 22%;
        left: 71.8%;
        width: 2.5%;
    }
    .card__botao-prev{
        bottom: 22%;
        left: 68%;
        width: 2.7%;
    }
}



@media screen and (max-width: 1360px) {
    .card {
        height: 200px;
        width: 290px;
        left: 39%;
        top: 50%;
    }

    .card__botao-next{
        bottom: 13.6%;
        left: 140.5%;
        width: 2.5%;
        height: 4.6%;
    }
    .card__botao-prev{
        bottom: 13.6%;
        left: 69.3%;
        width: 2.5%;
        height: 4.6%;
    }
}

@media screen and (max-width: 1024px) {
    .poke__size {
        max-width: 80%;
    }

    .card {
        left: 38%;
        top: 53%;
    }

    .card__botao-next{
        bottom: 20%;
        height: 4%;
        width: 3%;
        left: 80.3%;
    }
    .card__botao-prev{
        bottom: 20%;
        height: 4%;
        width: 3%;
        left: 74.8%;
    }
}

/*@media screen and (max-width: 991px) {

    .card {
        left: 34%;
    }
    .card__botao-next{
        bottom: 23.5%;
        left: 89%;
        width: 3.8%;
    }
    .card__botao-prev{
        bottom: 23.5%;
        left: 82%;
        width: 3.8%;
    }

}*/

@media screen and (max-width: 768px) {
    #pkmn {
        width: 90px;
    }

    .poke__size {
        max-width: 95%;
    }

    .card {
        left: 34%;
        top: 50%;
    }

    .card__botao-next{
        bottom: 22.4%;
        left: 87%;
        width: 3.8%;
    }
    .card__botao-prev{
        bottom: 22.4%;
        left: 80.5%;
        width: 3.8%;
    }

}

@media screen and (max-width: 425px) {
    #pkmn {
        width: 90px;
    }

    .card {
        left: 15%;
        top: 25%;
    }

    .card__botao-next{
        bottom: 30%;
        left: 80%;
        height: 3.5%;
        width: 6.5%;
    }
    .card__botao-prev{
        bottom: 30%;
        left: 68%;
        height: 3.5%;
        width: 6%;
    }
    
}

@media screen and (max-width: 375px) {
    #pkmn {
        width: 80px;
    }

    .card {
        left: 12%;
        top: 27%;
    }

    .card__botao-next{
        bottom: 31%;
        left: 83%;
        height: 3.5%;
        width: 7%;
    }
    .card__botao-prev{
        bottom: 31%;
        left: 69%;
        height: 3.5%;
        width: 7%;
    }
    
}

@media screen and (max-width: 320px) {
    #pkmn {
        width: 70px;
    }

    .card {
        left: 10%;
        top: 25%;
        width: 80%;
    }

    .poke-info {
        width: 100px;
    }

    .card__botao-next{
        bottom: 32%;
        left: 82%;
        height: 3.5%;
        width: 8%;
    }
    .card__botao-prev{
        bottom: 32%;
        left: 69%;
        height: 3.5%;
        width: 8%;
    }
    
}
@media screen and (min-width:1025px) and    (max-width: 1441px)  {
    .container {
        height: 90vh;
    }
    .button__click {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        width: 4.68rem;
        height: 4.68rem;
        background-color: rgba(255, 255, 255, 0.349);
        bottom: 20.5%;
        left: 66.7%;
    }
    
    .poke__size {
        max-width: 60%;
    }
    
}
@media screen and (min-width:1042px) and (max-width: 1600px)  {
    .button__click {
        display: flex;
        align-items: center;
        justify-content: space-between;
         position: fixed; 
         width: 4.68rem;
         height: 4.68rem; 
        background-color: rgba(255, 255, 255, 0.349);
        bottom: 13%;
        left: 65.4%;
    }   
    


}