@media (max-width: 1920px) {
    .container {
        height: 75vh;    
    
    }

    .card {
        top: 56%;
    }

    .button__click {

        top: 76%;
    }

    .status {

        top: 86%;
    }

}

@media (min-width: 1680px) and (max-width: 1919px) {
    .container {
        height: 80vh;    
    
    }

    .card {
        top: 55%;
    }

    .button__click {

        top: 74%;
    }

    .status {

        top: 85%;
    }

}



@media (min-width: 1360px) and (max-width: 1679px) {
    .container {
        height: 100vh;    
    
    }

    .card {
        top: 58%;
    }
    .img-pokemon{
        top: 66%;
    }

    .button__click {

        top: 79%; 
        left: 81%;
    }

    .status {

        top: 91%; 
    }
}

@media (min-width: 1201px) and (max-width: 1359px) {
    .container {
        height: 73vh;    
    
    }

    .card {
        top: 55%;
    }

    .button__click {

        top: 74%;
        left: 82%;
    }

    .status {

        top: 84%;
        left: 40%;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {
    .card {
        top: 55%;
    }

    .button__click {

        top: 74%;
        left: 82%;
    }

    .status {

        top: 84%;
        left: 40%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .card {
        top: 55%;
    }

    .button__click {

        top: 74%;
        left: 82%;
    }

    .status {

        top: 84%;
        left: 40%;
    }
}