body {
    height: 100vh;
    background-image: url(/assets/img/pokedex-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.card {
    width: 400px;
    height: 400px;
}

.card-body {
    width: 200px;
    height: 200px;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
