body {
    height: 100vh;
    background-image: url(/assets/img/pokedex-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.card {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-end;
    flex-direction: row;
    position: absolute;
    height: 190px;
    width: 290px;
    top: 53%;
}
.card-title{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 200px;
    margin-left: 50px;

}

#pkmn {
    width: 100px;
}

.card-body {
    padding: 0;
    margin: 0px 0px 10px;
    width: 140px;
    height: 120px;
    list-style: none;
    
}

.card-color {
    margin: 0px 0px 5px;
    width: 160px;
    background-color: rgba(77, 75, 75, 0.486);
    font-size: 15px;
}

.poke-info {
    padding-left: 5px;
    margin: 0px 0px 5px;
    font-size: 15px;
}

.col-1{
padding: 1px;
margin-right: 24px;
}

.container {
    height: 94vh;
    /* width: 25%; */
    position: relative;
}

.poke-imagem {
    position: absolute;
}

.btn-primary {
    position: relative;
} 

.card__botao-next{
    background-color: transparent;
}

#previous-btn{
    height: 35%;
    width: 35%;
}

.card__botao-prev{
    background-color: transparent;
}

#next-btn{
    height: 35%;
    width: 35%;
}

.button__click {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    background-color: rgba(255, 255, 255, 0.349);
    top: 20%;
    left: 20%;
}

