body {
    height: 100vh;
    background-image: url(/assets/img/pokedex-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.card {
    position: absolute;
    left: 48%;
    top: 50%;
    width: 300px;
    height: 100px;
}

.card-body {
    width: 200px;
    height: 200px;
}

.container {
    height: 94vh;
    position: relative;
}

.poke-imagem {
    position: absolute;

}

.btn-primary {
    position: relative;
}
